@model List<Intranet.Fittme.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Listar";
    ViewBag.TituloPagina = "Produtos";
    ViewBag.SubTituloPagina = "Estoque de produtos";
}

@section styles{
<link href="~/Content/produto/card.css" rel="stylesheet" />
}


<div id="produtos">
    @foreach (var item in Model)
    {
        <div id="make-3D-space">
            <div class="product-card">
                <div id="product-front">
                    <div class="shadow"></div>
                    <img class="imgProduto" src="~/Content/Images/Produtos/@item.NomeArquivo" alt="" />
                    <div class="image_overlay"></div>
                    <div class="view_details">Ver Detalhes</div>
                    <div class="stats">
                        <div class="stats-container">
                            <span class="product_price">@Math.Round(item.PrecoVenda,2)</span>
                            <span class="product_name">@item.Nome</span>
                            <p>@item.CodigoProduto</p>

                            <div class="product-options">
                                <strong>TAMANHO</strong>
                                <span>@item.Tamanho</span>
                                <strong>COR</strong>
                                <div class="colors">
                                    <div class="genericColor"><span style="background: @item.CorHexadecimal"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




@section scripts{
    <script src="~/Scripts/produto/listar.js"></script>
}

