<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @RenderSection("styles")
    <link rel="icon" type="image/jpg" href="~/Content/Images/logo.jpg" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/fonts/material-design-iconic-font.min.css" rel="stylesheet" />
</head>
<body>
    <span id="loading" class="glyphicon glyphicon-repeat normal-right-spinner"></span>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FITT.ME", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["user"] != null)
                    {
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "ativo" : "")"><a href="~/Intranet/    ">Home <span class="sr-only">(current)</span></a></li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("produto") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Produtos <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Produto">Cadastrar</a></li>
                                <li><a href="~/Intranet/ListarProdutos">Listar</a></li>
                                @*<li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>*@
                            </ul>
                        </li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("cliente") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Clientes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Cliente">Cadastrar</a></li>
                                <li><a href="~/Intranet/ListarClientes">Listar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("venda") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Vendas <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Venda">Cadastrar</a></li>
                                <li><a href="~/Intranet/ListarVendas">Listar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("fornecedor") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Fornecedores <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Fornecedor">Cadastrar</a></li>
                                <li><a href="~/Intranet/Fornecedores">Listar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("usuario") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Usuarios <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Usuario">Cadastrar</a></li>
                                <li><a href="~/Intranet/ListarUsuarios">Listar</a></li>
                                <li><a href="~/Intranet/Logout">Logout</a></li>
                            </ul>
                        </li>
                        <li class="dropdown @(ViewContext.RouteData.Values["Action"].ToString().ToLower().Contains("configuracoes") ? "ativo" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuracoes <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="~/Intranet/Usuario">Download de dados</a></li>
                                <li><a href="~/Intranet/ListarUsuarios">Atualizar base (excel)</a></li>
                                <li><a href="~/Intranet/Configuracoes">Editar Configurações</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="all">
        <div id="alert-helper" style="z-index: 99999999;"></div>
        @if (Session["user"] != null)
        {
            <h1>
                @ViewBag.TituloPagina
                <small>@ViewBag.SubTituloPagina</small>
            </h1>
        }
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-bootstrap/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery-bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/alert.js"></script>
    <script src="~/Scripts/util/animacoes.js"></script>
    @RenderSection("scripts")
</body>
</html>