@model List<Intranet.Fittme.Models.TipoModel>

<div class="table">
    <div class="row header">
        <div class="cell">
            Codigo
        </div>
        <div class="cell">
            Tamanho
        </div>
        <div class="cell">
            Opções
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="row">
                <div class="cell" data-title="Codigo">
                    @item.Codigo
                </div>
                <div class="cell" data-title="Tamanho">
                    @item.Nome
                </div>
                <div class="cell" data-title="Opcao">
                    <a data-opcao="editarTipo" data-nome="@item.Nome" data-codigo="@item.Codigo" data-toggle="tooltip" data-placement="bottom" title="Editar">
                        <i class="glyphicon glyphicon-edit"></i></a>
                    <a data-opcao="cadastrarTipo" data-toggle="tooltip" data-placement="bottom" title="Cadastrar novo">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <a data-opcao="excluirTipo" data-nome="@item.Nome" data-codigo="@item.Codigo" data-toggle="tooltip" data-placement="bottom" title="Excluir">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>

                </div>
            </div>
        }
    }
    else
    {

        <div class="row">
            <div class="cell">Nenhum tipo cadastrado.</div>
            <div class="cell">
            </div>
            <div class="cell">
            </div>
            <div class="cell">
                <a data-opcao="cadastrarTipo" data-toggle="tooltip" data-placement="bottom" title="Cadastrar novo">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>&nbsp;
            </div>
        </div>
    }



</div>
